.container_cad-group {
    display: flex;
    height: 100vh;
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    transition: margin 0.4s;
}

.header-cad-group {
    text-align: center;
}

.container_cad-group>section {
    background-color: rgb(41, 41, 46);
    width: 650px;

}

.form-container-cad-group {
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgb(100, 100, 111, 0.3) 0px 5px 5px 0px;
}

.form-container-cad-group form {
    max-width: 500px;
    margin: 0 auto;
}

.inputs-container-cad-group {
    height: 100%;
}

.form-control-use {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    color: #c2c2c2;
    font-size: 0.9rem;
}

h3 {
    color: #07bf69;

}

input,
select,
textarea {
    padding: 0.6rem;
    border: #ccc solid 1px;
    border-radius: 3px;
    box-shadow: #5d5d5d 0px 1px 1px 0;
    background-color: #343437;
    color: #c2c2c2;

}

input::placeholder {
    color: #c2c2c2;
}

textarea:focus,
input:focus,
select:focus {
    border: 1 none;
    outline: 0;
}

textarea {
    height: 120px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 3px;
    background-color: #03F384;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.actions button:hover {
    background-color: #07bf69
}

.actions button>span {
    color: #343437;
}

.actions button>svg {
    color: #343437;
    fill: #343437;
}

.header-cad-group h2 {
    color: #07bf69;
}

.header-cad-group p {
    color: #bbbbbb;
}

.form-container-cad-group p {
    color: #fff;
}

.container-dados p {
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
    background-color: #343437;
    color: #c2c2c2;

}

@media (width < 920px) {
    .container_cad-group {
        margin-left: 78px;
    }

    .form-container-cad-group form {
        max-width: 100%;
        margin: 0 auto;
    }


    .container_cad-group>section {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .container_cad-group {
        margin-left: 6px;
    }

    .form-container-cad-group form {
        max-width: 100%;
        margin: 0 auto;
    }

    .container_cad-group>section {
        width: 95%;
        border-radius: 5px;
    }

    .form-control-use>select {
        height: 35px;
    }

    .form-container-cad-group {
        margin: 0 auto;
        padding: 10px;
        box-shadow: none;
    
    }
}