
.container_perfil {
    margin-left: 250px;
    margin-right: 6px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin 0.4s;

}

.container_perfil h1 {
    color: #03F384;

}

.section-group {
    width: 95%;
    height: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202024;
    border-color: #03F384;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

.section-group div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-group div>i {
    color: #fff;
    font-size: 24px;
    font-weight: 600;

}

.section-group div>button {
    background-color: #4a4a4a;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    cursor: pointer;
    text-align: left;
    padding: 0;
    font-family: inherit;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s;

}

.section-group div>button:hover {
    background-color: #606060;
    transform: scale(1.01);
}


.section-group div>button>span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 10px 12px 0px
}

@media (width < 920px) {
    .container_perfil {
        margin-left: 78px;
    }

}


@media (max-width: 480px) {
    .container_perfil {
        margin-left: 6px;
    }

}