.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
   padding: 20px 0px 0px 0px;
}

.header h2 {
    font-size: 18px;
    color: #fff;
}

.header img {
   width: 40px;
   padding: 5px;
}